@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.9);
    font-family: "Press Start 2P";
    color: white;
}

.block1 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
    border-bottom: 4px solid white;
    height: 10rem;
}

.block1 button {
    background-color: white;
    padding: 10px 40px 10px 40px;
    font-family: 'Press Start 2P';
    height: 50px;
}

.block1 h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 6rem;
}

.block2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 8rem;
}

.block2 section {
    line-height: 40px;
}

.block2 button {
    background-color: white;
    padding: 10px 40px 10px 40px;
    font-family: 'Press Start 2P';
    height: 50px;
    position: absolute;
    top: 40px;
    left: 125px;
}

.block2 input {
    height: 50px;
    background-color: transparent;
    padding: 20px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    width: 10rem;
    color: white;
    font-family: 'Press Start 2P';
    position: absolute;
    bottom: 100px;
    left: 100px;
}