@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.9);
    font-family: "Press Start 2P";
    color: white;
}

.block1 {
    margin: 2rem auto;
    width: 95%;
    max-width: 98%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
    border-bottom: 4px solid white;
    height: 10rem;
}

.block1 button {
    background-color: white;
    padding: 10px 40px 10px 40px;
    font-family: 'Press Start 2P';
    height: 50px;
}

.block1 h2 {
    /* position: absolute;
    top: 5rem; */
    text-align: center;
    margin-top: 4rem;
}

.hidden {
    text-align: center;
    justify-content: center;
    margin-top: 7rem;
    font-size: 50px;
    height: 70px;
    width: 100px;
    background-color: rgb(245, 249, 249);
    align-items: center;
    margin-right: 300px;
    padding: 20px;
    color: black;
}

.block2 {
    margin: 2rem auto;
    width: 100%;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.block2 section {
    line-height: 40px;
}

.block2 button {
    background-color: white;
    padding: 10px 40px 10px 40px;
    font-family: 'Press Start 2P';
    height: 50px;
    margin-top: 40px;
}

.block2 input {
    font-family: "Press Start 2P";
    text-align: center;
    background-color: transparent;
    color: white;
    width: 10rem;
    padding: 10px;
    font-size: 40px;
}